body {
  background-color: #f0f8ff;
  font-family:  Open Sans ,arial,x-locale-body,sans-serif;
  line-height: 1.5;
}

h1 {
  margin-left: 30px;
  color: black;
  padding: 10px;
}

#top-menu {
    height: 60px;
    width: 100%;
    padding: 0;
    margin: auto;
    text-align: center;
}

ul.menu li {
  display: inline-block;
  font-family: tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  max-height: 60px;
  margin: 0;
  padding: 5px 0;
}

ul.menu li.left {
  width: 15%;
  text-align: left;
}

ul.menu li.right {
  width: 15%;
  text-align: right;
}

a:hover{
  color: ##2f4f4f;
  text-shadow: 0px 0px 0.5px ;
  font-size: 110%;
}

table {
    background: white;
    color: black;
    border-top: 5px solid #222222;
    margin: 100px auto;
    width: 1000px;
    margin-bottom: 20px;
    table-layout: fixed;
  }

.colTitle {
  padding: 15px;
  margin: 0;
  text-transform: uppercase;
  font: normal 400 1.375em "BebasNeue", Helvetica, Arial, Sans-Serif;
  letter-spacing: 3px;
}

tr {
  text-decoration: none;
  color: black;
  padding: 20px;
  border-bottom: 2px solid #e6e6e6;
}

td {
    text-align: center;
    width: 240px:
    padding: 5px;
    font-size: 20;
}
a {
  text-decoration: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #666666;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
}

li {
  list-style-type: square;
}

.time {
  text-align: center;
  font: normal 400 1.4em "BebasNeue", Helvetica, Arial, Sans-Serif;
  letter-spacing: 2px;
  size: 20;
  position: relative;
  left: -25px;
}

.location {
  color: #b22222;
  size: 20;
  font: bolder Sans-Serif;
  display: inline-block;
  list-style-type: none;
  position: relative;
  left: -25px;
}

button {
  /* background:#000000
  color: #fffaf0; */
  size: 20;
  position:relative;
  transition: .5s ease;
  top: 0px;
  left: 600px;
  right: -600px;
}

#back-schedule {
}
#next-schedule {
}
